import Config

config :tracker, Tracker.Repo,
  username: "postgres",
  password: "postgres",
  database: "tracker_test",
  hostname: System.get_env("PG_HOSTNAME", "postgres"),
  pool: Ecto.Adapters.SQL.Sandbox,
  ownership_timeout: 100_000,
  port: "5432"
